version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend_container
    restart: always
    ports:
      - "3001:3001"
    environment:
      MONGO_URI: ""
      PORT: 3001

  frontend:
    build: ./frontend
    container_name: frontend_container
    restart: always
    ports:
      - "3000:3000"
    environment:
      REACT_APP_BACKEND_URL: http://localhost:3001
    depends_on:
      - backend
