version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: mongo_container
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: travelmemory
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend_container
    restart: always
    ports:
      - "3001:3001"
    environment:
      MONGO_URI: mongodb://mongo:27017/travelmemory
      PORT: 3001
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend_container
    restart: always
    ports:
      - "3000:3000"
    environment:
      REACT_APP_BACKEND_URL: http://18.61.71.250:3001
    depends_on:
      - backend

volumes:
  mongo_data:
